body{
    background: beige;
}

/* Ana metni ortalar. */
.content{
    width: 750px;
    margin: 0 auto;
}

h2{
    background-color: rgb(187, 187, 187);
    padding: 0 4px;
    border-radius: 8px;
    display: inline;
}

h3{
    background-color: rgb(214, 213, 213);
    padding: 1px 4px;
    border-radius: 8px;
    margin-left: 15px;
    display: inline;
}

p{
    font-size: 18px;
}
li{
    font-size: 17px;
}

/* h3'ün, h2'nin yanına gelmesini engeller. */
.clear{
    clear:both;
}

/* Resmi ortalar. */
.center{
    display:block;
    margin: 0 auto;
}
/* yan yana sıralamak için */
.header li{
    list-style-type: none;
    display: inline;
    margin: 10px;

}


